body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.left {
    width: 45%; /* Ancho del contenedor izquierdo */
}

.right {
    width: 45%; /* Ancho del contenedor derecho */
    position: relative; /* Añadido para posicionar la imagen */
}

textarea {
    width: calc(100% - 20px); /* Ancho del textarea menos los márgenes */
    height: 200px;
    margin-bottom: 10px; /* Añadido para separar el textarea de la imagen */
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

img {
    position: absolute; /* Posiciona la imagen */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    right: 10px; /* Ajusta la distancia desde la parte derecha */
    max-width: 100px; /* Ajusta el ancho máximo de la imagen */
    max-height: 100px; /* Ajusta la altura máxima de la imagen */
}
